/* 请根据 var.scss 文件中的变量设定颜色值，不得在本文件中定义颜色并使用 */
@import "../scss/var";

.tu-biao-ji-he{
  padding: 10px;
  margin: 20px 0 10px 0;
  text-align: center;
  color: $--color-primary;
  font-size: 30px;
}
.el-menu {

  li a {
    text-decoration: none;
  }
}

ul.icon-list {
  overflow: hidden;
  list-style: none;
  padding: 0;
  border: solid 1px #eaeefb;
  border-radius: 4px;
}
.icon-list li {
  float: left;
  width: 16.66%;
  text-align: center;
  height: 120px;
  line-height: 120px;
  color: $--color-text-primary;
  font-size: 13px;
  transition: color .15s linear;

  border-right: 1px solid $--border-color-base;
  border-bottom: 1px solid $--border-color-base;
  margin-right: -1px;
  margin-bottom: -1px;

  span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
    color: $--color-text-regular;
  }

  i {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
    color: $--color-text-regular;
  }

  .icon-name {
    display: inline-block;
    padding: 0 3px;
    height: 1em;
    color: $--color-text-regular;
  }

  &:hover {
    color: $--color-primary;
  }
}
