/* 请根据 var.scss 文件中的变量设定颜色值，不得在本文件中定义颜色并使用 */
@import "./var";

body, html {
  font-family: Microsoft YaHei,SimSun,sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color--gray;
}
ul,li,img {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}
div {
  box-sizing: border-box;
}
.main-width {
  margin: 0 auto;
  width: 100%;
  min-width: 960px;
  max-width: 1180px;
}
.bg-white {
  background-color: $--color-white;
}
