/* 样式变量定义文件 所有自定义颜色值都必须在本文件中定义并获取 不得在其他文件中定义*/
/* 警告：不要与框架文件中的变量冲突 */
.pL10{padding-left: 10px;}.pR10{padding-right: 10px;}.pT10{padding-top: 10px;}.pB10{padding-bottom: 10px;}
.pL15{padding-left: 15px;}.pR15{padding-right: 15px;}.pT15{padding-top: 15px;}.pB15{padding-bottom: 15px;}
.pL20{padding-left: 20px;}.pR20{padding-right: 20px;}.pT20{padding-top: 20px;}.pB20{padding-bottom: 20px;}
.pL30{padding-left: 30px;}.pR30{padding-right: 30px;}.pT30{padding-top: 30px;}.pB30{padding-bottom: 30px;}
.mL5{margin-left: 5px;}.mR5{margin-right: 5px;}.mT5{margin-top: 5px;}.mB5{margin-bottom: 5px;}
.mL10{margin-left: 10px;}.mR10{margin-right: 10px;}.mT10{margin-top: 10px;}.mB10{margin-bottom: 10px;}
.mL15{margin-left: 15px;}.mR15{margin-right: 15px;}.mT15{margin-top: 15px;}.mB15{margin-bottom: 15px;}
.mL20{margin-left: 20px;}.mR20{margin-right: 20px;}.mT20{margin-top: 20px;}.mB20{margin-bottom: 20px;}
.mL30{margin-left: 30px;}.mR30{margin-right: 30px;}.mT30{margin-top: 30px;}.mB30{margin-bottom: 30px;}
.w80{width: 80px;}
.w200{width: 200px !important;}
.w300{width: 300px}
.w500{width: 500px}
.h32{height: 32px;}
.h40{height: 40px;}
.h80{height: 80px;}
.lh18{line-height: 18px;}
.lh22{line-height: 22px;}
.lh28{line-height: 28px;}
.text-center{text-align: center}.text-left{text-align: left}.text-right{text-align: right}
.ellipsis{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

.greenColor{color: #2aba65}
.redColor{color: #f25039}
.navigationColor{color:#d1d1d3}
.f12{font-size: 12px;}
.f20{font-size: 20px;}
.f24{font-size: 24px;}
.font-600{font-weight: 600;}
.cursor{cursor: pointer;}
.ib{display: inline-block;}
.btn-green{line-height: 36px;padding-left: 20px;padding-right: 20px;display: inline-block;cursor: pointer;border-radius: 3px;background: #2aba65;color: #fff;min-width: 80px;box-sizing: border-box;border: 1px solid transparent;text-align: center;}
.btn-grey{line-height: 36px;padding-left: 20px;padding-right: 20px;display: inline-block;cursor: pointer;border-radius: 3px;background: #fff;color: #888;box-sizing: border-box;border: 1px solid #ddd;min-width: 80px;box-sizing: border-box;text-align: center;}
.inputText{height: 32px;border: none;box-sizing: border-box;background: #eee;color: #555555;border-radius: 4px;padding-left: 10px;}
.inputText:focus {border-color: #66afe9;outline: 0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,1);}